body {
  margin: 0;
}

@keyframes trainintTextAnimation1 {
  from {
    background-color: rgba(0, 0, 0, 0%);
    color: rgba(255, 255, 255, 0%);
  }
  to {
    color: rgba(255, 255, 255, 100%);
    background-color: rgba(0, 0, 0, 50%);
  }
}

@keyframes trainintTextAnimation2 {
  from {
    color: rgba(255, 255, 255, 100%);
    background-color: rgba(0, 0, 0, 50%);
  }
  to {
    color: rgba(255, 255, 255, 0%);
    background-color: rgba(0, 0, 0, 0%);
  }
}
/* text */
#h1MenuTextExercise {
  position: absolute;
  z-index: 1;
  color: white;
  margin-top: 14%;
  margin-left: 18%;
  font-size: 3.5vw;
  padding-left: 2%;
  padding-right: 2%;
  background-color: rgba(0, 0, 0, 50%);
  visibility: hidden;
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  cursor: pointer;
}
/* text */
#h1MenuTextDiet {
  position: absolute;
  z-index: 1;
  color: white;
  margin-top: 47%;
  margin-left: 73%;
  font-size: 3.5vw;
  padding-left: 2%;
  padding-right: 2%;
  background-color: rgba(0, 0, 0, 50%);
  visibility: hidden;
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  cursor: pointer;
}
/* text */
#h1MenuTextPlan {
  position: absolute;
  z-index: 1;
  color: white;
  margin-top: 47%;
  margin-left: 20%;
  font-size: 3.5vw;
  padding-left: 2%;
  padding-right: 2%;
  background-color: rgba(0, 0, 0, 50%);
  visibility: hidden;
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  cursor: pointer;
}
/* main containing imges menu */
#main {
  position: relative;
  word-spacing: 0;
  font-size: 0;
  background-color: #3bff9f;
}

/* all images */
img {
  cursor: pointer;
  width: 50%;
  height: 50%;
}

@keyframes imgTrainingAnimation1 {
  from {
    filter: grayscale(100%);
  }
  to {
    filter: grayscale(0%);
  }
}

@keyframes imgTrainingAnimation2 {
  from {
    filter: grayscale(0%);
  }
  to {
    filter: grayscale(100%);
  }
}

/* img exersices and diet */
.imgMenuGray {
  filter: grayscale(100%);
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

/* 3 brand imges */
img.imgBrandLogo {
  cursor: auto;
  width: 15%;
  height: 15%;
  filter: grayscale(100%);
}

/* ul with the brands list */
#ulBrandLogos {
  margin-top: 2%;
  margin-bottom: 2%;
}

/* list with the images of the brands */
.liBrandLogos {
  margin-right: 5%;
  margin-left: 10%;
  display: inline;
}

/* START  DIV FOOTER */
/* footer */
#footer {
  padding-top: 0.5%;
  font-size: 1.5vw;
  background-color: #3bfdff;
}

/* ion phone , location */
.footerSocialIcon {
  height: 3%;
  width: 3%;
  position: absolute;
  margin-left: -5%;
  cursor: auto;
}

/* footer social list with phone ,number ;location ,bg */
.footerSocialLi {
  padding-left: 5%;
  padding-bottom: 0.1%;
  margin-bottom: 1%;
  list-style-type: none;
  font-size: 1.4vw;
  color: white;
}

.socialText {
  padding-top: 0.3%;
  margin: 0;
  padding-bottom: 0;
}
/* images fb,insta,youtube */
.footerImg {
  width: 2.5%;
  height: 2.5%;
  padding-left: 1%;
  padding-bottom: 1%;
}

/* list with fb,inst,youtube */
.footerLi {
  margin-left: -1%;
  display: inline;
}

/*  remove the bottom margin */
#footerUl {
  margin: 0;
}
/* END  DIV FOOTER */
