body {
  margin: 0;
}

#h1MenuTextTraining {
  position: absolute;
  z-index: 1;
  color: white;
  margin-top: 14%;
  margin-left: 18%;
  font-size: 3.5vw;
  padding-left: 2%;
  padding-right: 2%;
  background-color: rgba(0, 0, 0, 50%);
  transition: all 2s;
}

#h1MenuTextDiet {
  position: absolute;
}

#main {
  position: relative;
  word-spacing: 0;
  font-size: 0;
  background-color: #3bff9f;
}

img {
	
  width: 50%;
  height: 50%;
}

.imgMenuGray {
	cursor:pointer;
  filter: grayscale(100%);
  transition: 1s all;
}

#imgSup {
  width: 14%;
  height: 14%;
}

img.imgBrandLogo {
  width: 15%;
  height: 15%;
}

#ulBrandLogos {
  margin-top: 2%;
  margin-bottom: 2%;
  text-align: center;
}

.liBrandLogo {
  margin-right: 15%;
  display: inline;
}

/* START  DIV FOOTER */
#footer {
  padding-top: 0.5%;
  font-size: 1.5vw;
  background-color: #3bfdff;
}

.iconFooter {
  width: 50px;
  height: 50px;
}

.footerImg {
  width: 2.5%;
  height: 2.5%;
  padding-bottom: 1%;
}

.footerLi {
  padding-right: 0.5%;
  display: inline;
}

.footerP {
  padding-left: 2%;
  color: whitesmoke;
}

#footerUl {
  margin: 0;
}
/* END  DIV FOOTER */
